//output: layout.html
doctype html
html
    head
        block active
            -var active = 'Admin Dashboard';
            
        -var menu = { 'Admin Dashboard': 'admin-dashboard.html', 'Recent Exchange Transfers': 'admin-exchangeinfo.html', 'Set Ticket Allotment': 'admin-settickets.html', 'Student Ticket Statstics': 'admin-ticketinfo.html' };    
        title
            | MyTickets Admin -  
            block title
                | Dashboard
        
        link(
                href='https://fonts.googleapis.com/css?family=Roboto:400,700,800',
                rel='stylesheet'
        )
        
        //bootstrap css
        link(
            rel='stylesheet' 
            href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
            integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', 
            crossorigin='anonymous'
        )
        
        //font-awesome css
        link(
            rel="stylesheet", 
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", 
            integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", 
            crossorigin="anonymous"
        )
        
        //layout.css
        link(
            rel='stylesheet',
            href='./static/css/layout.css'
        )

        //allows for responsive viewing on mobile devices
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

        block css

    body
        nav.navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(
                        type="button", 
                        data-toggle="collapse",
                        data-target="#navbar1",
                        aria-expanded="false"
                    )
                        span.sr-only Toggle Navigation
                        span.glyphicon.glyphicon-option-vertical   
                    .navbar-brand MyTickets
                #navbar1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        each val, key in menu
                            if active === key
                                li.active
                                    a(href=val, title=key)= key
                            else
                                li
                                    a(href=val, title=key)= key
        .container
            block content
        

        footer.footer
            .container
                p myTickets Prototype Interface | cs407
                         
            //jquery js
            script(
                src='https://code.jquery.com/jquery-3.1.1.min.js',
                integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=',
                crossorigin='anonymous'
            )
        
            //bootstrap js
            script( 
                src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
                integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
                crossorigin='anonymous' 
            )
        
            block js
